# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
.vscode
# dependencies
node_modules
yarn.lock
.npmrc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

*.tgz
packages/**/angular/dist

# native-src
packages/**/native-src/dist

# native-src/android
packages/**/native-src/android/**/*.iml
packages/**/native-src/android/**/.gradle
packages/**/native-src/android/**/local.properties
packages/**/native-src/android/**/.idea/workspace.xml
packages/**/native-src/android/**/.idea/libraries
packages/**/native-src/android/**/.DS_Store
packages/**/native-src/android/**/build
packages/**/native-src/android/**/bin
packages/**/native-src/android/**/captures
packages/**/native-src/android/**/.externalNativeBuild
packages/**/native-src/android/**/.settings
packages/**/native-src/android/**/.project
packages/**/native-src/android/**/.classpath

# native-src/ios
packages/**/native-src/ios/**/xcuserdata/
packages/**/native-src/ios/**/project.xcworkspace/
packages/**/native-src/ios/**/build


# src-native
packages/**/src-native/dist

# src-native
packages/**/src-native/**/target

# src-native/android
packages/**/src-native/android/**/*.iml
packages/**/src-native/android/**/.gradle
packages/**/src-native/android/**/local.properties
packages/**/src-native/android/**/.idea/workspace.xml
packages/**/src-native/android/**/.idea/libraries
packages/**/src-native/android/**/.DS_Store
packages/**/src-native/android/**/build
packages/**/src-native/android/**/bin
packages/**/src-native/android/**/captures
packages/**/src-native/android/**/.externalNativeBuild
packages/**/src-native/android/**/.settings
packages/**/src-native/android/**/.project
packages/**/src-native/android/**/.classpath

# src-native/ios
packages/**/src-native/web-server-ios/**/xcuserdata/
packages/**/src-native/web-server-ios/**/project.xcworkspace/
packages/**/src-native/web-server-ios/**/build
packages/**/src-native/web-server-ios/**/dist

.nx/cache
.nx/workspace-data