<ActionBar title="nativescript-fancyalert" class="action-bar"> </ActionBar>
<StackLayout class="p-20">
	<ScrollView class="h-full">
		<StackLayout>
			<Button text="Alert Success" class="btn btn-primary" (tap)="demoShared.showSuccess()"></Button>
			<Button text="Alert Success w/ Sound" class="btn btn-primary" (tap)="demoShared.showSuccessCustomEffects()"></Button>
			<Button text="Alert Error" class="btn btn-primary" (tap)="demoShared.showError()"></Button>
			<Button text="Alert Notice" class="btn btn-primary" (tap)="demoShared.showNotice()"></Button>
			<Button text="Alert Warning" class="btn btn-primary" (tap)="demoShared.showWarning()"></Button>
			<Button text="Alert Info" class="btn btn-primary" (tap)="demoShared.showInfo()"></Button>
			<Button text="Alert Edit" class="btn btn-primary" (tap)="demoShared.showEdit()"></Button>
			<Button text="Alert Waiting" class="btn btn-primary" (tap)="demoShared.showWaiting()"></Button>
			<Button text="Alert Question" class="btn btn-primary" (tap)="demoShared.showQuestion()"></Button>
			<Button text="Alert Custom Image" class="btn btn-primary" (tap)="demoShared.showCustomImage()"></Button>
			<Button text="Alert Button with Timer" class="btn btn-primary" (tap)="demoShared.showCustomButtonTimer()"></Button>
			<Button text="Alert Custom Buttons" class="btn btn-primary" (tap)="demoShared.showCustomButtons()"></Button>
			<Button text="Alert Success w/ Auto-Close Delay" class="btn btn-primary" (tap)="demoShared.showSuccessDelay()"></Button>
			<Button text="Alert Success Custom Width" class="btn btn-primary" (tap)="demoShared.showCustomWidth()"></Button>
			<Button text="Alert Text Color" class="btn btn-primary" (tap)="demoShared.customText()"></Button>
			<Button text="Alert Text Field" class="btn btn-primary" (tap)="demoShared.showTextField()"></Button>
			<Button text="Alert w/ Switch" class="btn btn-primary" (tap)="demoShared.showSwitch()"></Button>
			<Button text="Alert Custom View" class="btn btn-primary" (tap)="demoShared.showCustomView()"></Button>
		</StackLayout>
	</ScrollView>
</StackLayout>
