<ActionBar title="filterable-listpicker" class="action-bar"> </ActionBar>
<GridLayout class="p-20">
	<ScrollView class="h-full">
		<StackLayout>
			<Button text="Show a simple Picker" (tap)="showPicker()" class="btn btn-primary"></Button>
			<Button text="Show a fancy Picker" (tap)="showFancyPicker()" class="btn btn-primary"></Button>
			<Button text="Show a autocomplete Picker" (tap)="showAutocompletePicker()" class="btn btn-primary"></Button>
			<StackLayout *ngIf="demoShared.selection" class="text-center">
				<Label text="You chose: "></Label>
				<StackLayout class="text-center" *ngIf="demoShared.selection.title">
					<Image [src]="demoShared.selection.image" *ngIf="demoShared.selection.image" width="300"></Image>
					<Label [text]="demoShared.selection.title"></Label>
					<Label [text]="demoShared.selection.description" textWrap="true" *ngIf="demoShared.selection.description" color="gray"></Label>
				</StackLayout>
				<Label [text]="demoShared.selection" *ngIf="!demoShared.selection.title"></Label>
			</StackLayout>
		</StackLayout>
	</ScrollView>
	<FilterableListpicker 
		hintText="Type to filter..." 
		blur="dark" 
		[enableSearch]="true" 
		[listHeight]="300" 
		[headingTitle]="'Make a selection...'" 
		dimmerColor="rgba(76,196,211,0.7)" 
		(loaded)="pickerLoaded($event)" 
		focusOnShow="true" 
		[source]="items" 
		(canceled)="cancelFilterableList($event)" 
		(itemTapped)="itemSelected($event)"
	></FilterableListpicker>

</GridLayout>
