@import 'nativescript-theme-core/scss/light';
@import 'nativescript-theme-core/scss/index';

.btn {
	border-radius: 20;
	width: 100%;

	&.btn-primary {
		color: #464646;
		background-color: white;
		border: 1px solid #e0e0e0;
	}
}
.flp-container .flp-list-container {
	border-radius: 10;
	background-color: white;
}
.flp-container .flp-heading-title {
	font-size: 14;
	color: gray;
	text-align: center;
	padding: 10;
}
.flp-container .flp-list-container .flp-listview {
	background-color: white;
}

.flp-container .flp-list-container .flp-listview .flp-row {
	background-color: white;
	padding: 10;
}
/* .flp-container .flp-list-container .flp-listview .flp-row .flp-row-container {
  padding: 10;
} */
.flp-container .flp-list-container .flp-listview .flp-row .flp-image {
	margin: 10 0 10 5;
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-title-container {
	margin: 10 10 10 5;
	/* margin: 0 10 0 10; */
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-title-container .flp-title {
	font-weight: bold;
	font-size: 16;
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-title-container .flp-description {
	color: gray;
	font-size: 13;
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-title-container .flp-no-title {
	margin-left: 15;
	padding: 10 0;
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-item-selected {
	color: lightblue;
}

.flp-container .flp-hint-field {
	padding: 10 15;
	height: 40;
	background-color: #e0e0e0;
	border-radius: 10;
}

.flp-container .flp-cancel-container {
	background-color: #e0e0e0;
	height: 40;
	border-radius: 0 0 10 10;
}

.flp-container .flp-cancel-container .flp-btn-cancel {
	font-weight: bold;
	height: 40;
	background-color: transparent;
	border-color: transparent;
	border-width: 1;
	font-size: 12;
}

CheckBox {
	vertical-align: center;
	color: white;
	font-size: 20;
}

.listitem {
	vertical-align: center;
	horizontal-align: left;
	margin-bottom: 10;
	width: 100%;
	background-color: transparent;
}

#slide1 {
	background: linear-gradient(45deg, #eb3349, #f45c43);
	vertical-align: center;
}

#slide2 {
	background: linear-gradient(-45deg, #1d976c, #93f9b9);
	vertical-align: center;
}

#slide3 {
	background: linear-gradient(45deg, #1d2b64, #f8cdda);
	vertical-align: center;
}

#slide4 {
	background: linear-gradient(tobottom, #003973, #e5e5be);
	vertical-align: center;
}

/* CardView */
.align-center {
	vertical-align: center;
	horizontal-align: center;
}

.title {
	font-size: 30;
	margin: 4;
}

.subtitle {
	font-size: 24;
}

.info {
	font-size: 20;
	margin: 4;
}

.size16 {
	font-size: 16;
	margin: 2;
}

.clear-btn {
	background-color: white;
	padding: 5px;
}

.blue {
	color: #6a78c5;
}

.gray {
	color: #666;
}

.white {
	color: #fff;
}

.avatar-circle {
	font-size: 35;
	height: 50;
	width: 50;
	color: #fff;
	background-color: #ff4081;
	border-radius: 25;
	margin-left: 16;
	margin-top: 5;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
}

.blackCard {
	background-color: #333;
	color: white;
}

.blueCard {
	background-color: #3489db;
	color: white;
}

.jokerCard {
	background-color: yellow;
}

.whiteCard {
	background-color: #fff;
}
.rounded {
	border-radius: 20;
}
